<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总体报表</title>
</head>
<body>
<div class="layui-container">
    <div class="layui-card layui-anim layui-anim-up">
        <div class="layui-card-header table">{$tableFont} - 数据统计</div>
        <div class="layui-card-body">
            按年份输出(最近3年总数据)
            <table class="layui-table layui-anim layui-anim-up" style="table-layout: fixed;" lay-size="sm">
                <thead>
                <tr>
                    <th>年份</th>
                    <th>预约</th>
                    <th>预到</th>
                    <th>已到</th>
                    <th>未到</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['currYear']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['currYearReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['currYearAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['currYearArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['currYearOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['lastYear']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['lastYearReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['lastYearAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['lastYearArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['lastYearOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['beforeYear']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['beforeYearReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['beforeYearAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['beforeYearArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$data['beforeYearOutArrival'][0]['count']}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="layui-card layui-anim layui-anim-up">
        <div class="layui-card-header table">按月份输出(最近12个月的数据)</div>
        <div class="layui-card-body">
            <table class="layui-table layui-anim layui-anim-up" style="table-layout: fixed;" lay-size="sm">
                <thead>
                <tr>
                    <th>年份</th>
                    <th>预约</th>
                    <th>预到</th>
                    <th>已到</th>
                    <th>未到</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['currMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['currMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['currMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['currMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['currMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['oneMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['oneMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['oneMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['oneMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['oneMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['twoMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['twoMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['twoMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['twoMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['twoMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['threeMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['threeMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['threeMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['threeMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['threeMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fourMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fourMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fourMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fourMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fourMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fiveMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fiveMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fiveMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fiveMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['fiveMonthOutArrival'][0]['count']}</td>
                </tr>
                <tr class="rowData">
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['sixMonth']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['sixMonthReser'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['sixMonthAdvan'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['sixMonthArrival'][0]['count']}</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$month['sixMonthOutArrival'][0]['count']}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>