<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据横向对比页</title>
</head>
<body>
<div class="layui-container">
    <table class="layui-table layui-anim layui-anim-up" style="table-layout: fixed;" lay-size="sm">
        <thead>
        <tr>
            <th>医院</th>
            <th>2018-02</th>
            <th>2018-03</th>
            <th>2018-04</th>
            <th>2018-05</th>
            <th>2018-06</th>
            <th>2018-07</th>
        </tr>
        </thead>
        <tbody>
        <tr class="rowData">
            <td>模拟数据医院</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
            <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">模拟数据</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>