<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广元协和医院新媒体</title>
    <link rel="stylesheet" href="{$staticPath}/layui/css/layui.css">
    <style media="screen">
        /* 关闭iframe线条 */
        body{border:0px;}
        /* 关闭iframe的左边间距 */
        .layui-container{margin-left:0px;}
        /* 面包屑*/
        .layui-breadcrumb{visibility:visible;}
        .breadCrumbs{padding:10px; margin-bottom:20px;}
    </style>
</head>
<body>
    <div class="breadCrumbs">
        <span class="layui-breadcrumb" lay-separator="/">
          <a class="layui-anim-upbit" href="javascript:;">首页</a>
          <a><cite> {$item}</cite></a>
        </span>
    </div>
    <div class="layui-container">
      <div class="layui-row">
        <div class="layui-col-md5">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-green layui-anim layui-anim-up">挂号数据统计</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                <p>明日:&nbsp;&nbsp;预计: {$result['tommorday'][0]['count']}</p>
                <p>今日:&nbsp;&nbsp;总共: {$result['terday'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;已到: {$result['terdayArrived'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;未到: {$result['terdayOutArrived'][0]['count']}</p>
                <p>昨天:&nbsp;&nbsp;总共: {$result['yesterday'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;已到: {$result['yesterdayArrived'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;未到: {$result['yesterdayOutArrived'][0]['count']}</p>
                <p>本月:&nbsp;&nbsp;总共: {$result['currMonth'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;已到: {$result['currMonthArrived'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;未到: {$result['currMonthOutArrived'][0]['count']}</p>
                <p>上月:&nbsp;&nbsp;总共: {$result['yesterMonth'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;已到: {$result['yesterMonthArrived'][0]['count']}&nbsp;&nbsp;&nbsp;&nbsp;未到: {$result['yesterMonthOutArrived'][0]['count']}</p>
              </div>
            </div>
        </div>
        <div class="layui-col-md1">&nbsp;</div>
        <div class="layui-col-md3">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-blue layui-anim layui-anim-up">本月到院排行</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                  <foreach name="nameList" item="vo" key="k">
                      <p><span class="layui-icon layui-icon-rate-solid layui-anim layui-anim-up" style="color:#FF5722;"></span>{$vo['username']}</p>
                  </foreach>
              </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-orange layui-anim layui-anim-up">本月预约排行榜</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                  <foreach name="nameList" item="vo" key="k">
                      <p><span class="layui-icon layui-icon-rate-solid" style="color:#FF5722;"></span>{$vo['username']}</p>
                  </foreach>
              </div>
            </div>
        </div>
      </div>

      <div class="layui-row">
        <div class="layui-col-md5">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-red layui-anim layui-anim-up">预约未定数据</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                <p>
                    明日:
                    <foreach name="tommor" item="vo" key="k">
                        {$k} : {$vo}
                    </foreach>
                </p>
                <p>
                    今日:
                    <foreach name="toDay" item="vo" key="k">
                         {$k} : {$vo}&nbsp;&nbsp;&nbsp;
                    </foreach>
                </p>
                <p>
                    昨日:
                    <foreach name="prevDay" item="vo" key="k">
                         {$k} : {$vo}&nbsp;&nbsp;&nbsp;
                    </foreach>
                </p>
                <p>
                    本月:
                    <foreach name="currentMonth" item="vo" key="k">
                         {$k} : {$vo}&nbsp;&nbsp;&nbsp;
                    </foreach>
                </p>
              </div>
            </div>
        </div>
        <div class="layui-col-md1">&nbsp;</div>
        <div class="layui-col-md3">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-blue layui-anim layui-anim-up">上月到院排行</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                  <foreach name="nameList" item="vo" key="k">
                      <p><span class="layui-icon layui-icon-rate-solid" style="color:#FF5722;"></span>{$vo['username']}</p>
                  </foreach>
              </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
              <div class="layui-card-header layui-bg-orange layui-anim layui-anim-up">上月预约排行榜</div>
              <div class="layui-card-body layui-anim layui-anim-up">
                  <foreach name="nameList" item="vo" key="k">
                      <p><span class="layui-icon layui-icon-rate-solid" style="color:#FF5722;"></span>{$vo['username']}</p>
                  </foreach>
              </div>
            </div>
        </div>
      </div>
    </div>
</body>
<script src="{$staticPath}/layui/layui.js"></script>
</html>
