<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广元协和医院新媒体</title>
    <link rel="stylesheet" href="{$staticPath}/layui/css/layui.css">
    <style media="screen">
        /* .ovhid{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;} 超出隐藏 */
    </style>
</head>
<body>
    <table class="layui-table" style="color:#1E9FFF;" lay-size="sm">
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>年龄</th>
          <th>电话</th>
          <th>QQ</th>
          <th>专家号</th>
          <th>咨询内容</th>
          <th>预约时间</th>
          <th>病患类型</th>
          <th>媒体来源</th>
          <th>地区</th>
          <th>备注</th>
          <th>客服</th>
          <th>回访</th>
          <th>赴约情况</th>
          <th>添加时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
          <foreach name="data" item="vo" key="k">
              <tr>
                  <td>{$vo['name']}</td>
                  <td>{$vo['sex']}</td>
                  <td>{$vo['old']}</td>
                  <td>{$vo['phone']}</td>
                  <td>{$vo['qq']}</td>
                  <td>{$vo['expert']}</td>
                  <td>{$vo['desc1']}</td>
                  <td>{$vo['oldDate']}</td>
                  <td>{$vo['diseases']}</td>
                  <td>{$vo['fromAddress']}</td>
                  <td>{$vo['switch']}</td>
                  <td>{$vo['desc2']}</td>
                  <td>待更改</td>
                  <td>待更改</td>
                  <td>{$vo['status']}</td>
                  <td>{$vo['newDate']}</td>
              </tr>
          </foreach>
      </tbody>
    </table>
</body>
<script src="{$staticPath}/layui/layui.js"></script>
</html>
