<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <link rel="stylesheet" href="{$staticPath}/layui/css/layui.css">
  <style type="text/css"></style>
</head>
<body>
    <div class="layui-card layui-anim layui-anim-up">
      <div class="layui-card-header">{$item}</div>
      <div class="layui-card-body">
          <table class="layui-table" style="table-layout: fixed;" lay-size="sm">
            <thead>
              <tr>
                <th></th>
                <th colspan="3">今日</th>
                <th></th>
                <th colspan="3">昨日</th>
                <th></th>
                <th colspan="3">本月</th>
                <th></th>
                <th colspan="3">上月</th>
              </tr>
              <tr>
                  <th>客服</th>
                  <th>总共</th>
                  <th>已到</th>
                  <th>未到</th>
                  <th></th>
                  <th>总共</th>
                  <th>已到</th>
                  <th>未到</th>
                  <th></th>
                  <th>总共</th>
                  <th>已到</th>
                  <th>未到</th>
                  <th></th>
                  <th>总共</th>
                  <th>已到</th>
                  <th>未到</th>
              </tr>
            </thead>
            <tbody>
            <foreach name="result" item="vo" key="k">
                <tr>
                    <th>{$vo['username']}</th>
                    <th>{$vo['terday'][0]['count']}</th>
                    <th>{$vo['terdayArrived'][0]['count']}</th>
                    <th>{$vo['terdayOutArrived'][0]['count']}</th>
                    <th></th>
                    <th>{$vo['yesterday'][0]['count']}</th>
                    <th>{$vo['yesterdayArrived'][0]['count']}</th>
                    <th>{$vo['yesterdayOutArrived'][0]['count']}</th>
                    <th></th>
                    <th>{$vo['currMonth'][0]['count']}</th>
                    <th>{$vo['currMonthArrived'][0]['count']}</th>
                    <th>{$vo['currMonthOutArrived'][0]['count']}</th>
                    <th></th>
                    <th>{$vo['yesterMonth'][0]['count']}</th>
                    <th>{$vo['yesterMonthArrived'][0]['count']}</th>
                    <th>{$vo['yesterMonthOutArrived'][0]['count']}</th>
                </tr>
            </foreach>
            </tbody>
          </table>
      </div>
    </div>
</body>
</html>
